$color-border: #ccc;
$color-light: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.c_app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  overflow-y: hidden;
  // width: 800px;
}

.c_additional-methods {
  list-style: none;
}

.c_control {
  display: flex;
  > * {
    margin: 2px;
    padding: 8px 4px;
  }
  button {
    flex-grow: 1;
  }
  input {
    text-align: right;
    width: 40px;
  }
}

.c_controls {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.c_editor {
  border: 1px solid $color-border;
  flex-grow: 1;
  padding: 4px;
}

.c_filter {
  padding: 4px;
}

.c_node,
.c_node-list {
  padding-left: 1rem;
  &.selected {
    background-color: #eee;
  }
}

.c_document {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  > .scroll > .c_node {
    margin-left: -1rem;
  }
}

.c_selection {
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  display: flex;
  &:last-of-type {
    overflow-y: hidden;
  }
}

.scroll {
  overflow-y: scroll;
}

.sidebar {
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  border-left: 1px solid #ccc;
  margin-left: 1rem;
  padding-left: .5rem;
  overflow-y: hidden;
}

button {
  background: #eee;
  border: 1px solid $color-border;
  cursor: pointer;
  padding: 8px 4px;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: lighten(#eee, 4%);
  }
}

pre {
  font-size: 10px;
}