$color-border: #ccc;
$color-light: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  display: flex;
  :first-child {
    flex-grow: 1;
  }
  :nth-child(n+2) {
    align-self: center;
    border-bottom: 2px solid transparent;
    font-size: .5em;
    margin: 0 8px 0 0;
    padding: 2px 0;
    text-decoration: none;
  }
  span:last-of-type {
    border-bottom-color: #333;
  }
  > :last-child {
    border-left: 2px solid $color-border;
    font-weight: normal;
    padding-left: 10px;
  }
  img {
    width: 24px;
  }
}

.c_app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  overflow-y: hidden;
  > * {
    overflow-y: hidden;
  }
}

.c_additional-methods {
  list-style: none;
}

.c_control {
  display: flex;
  > * {
    margin: 2px;
    padding: 8px 4px;
  }
  button {
    flex-grow: 1;
  }
  input {
    text-align: right;
    width: 40px;
  }
}

.c_controls {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.c_editor {
  border: 1px solid $color-border;
  flex-grow: 1;
  padding: 4px;
}

.c_filter {
  padding: 4px;
}

.c_node,
.c_node-list {
  padding-left: 1rem;
  &.selected {
    background-color: #eee;
  }
}

.c_document {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  > .scroll > .c_node {
    margin-left: -1rem;
  }
}

.c_selection {
  flex-grow: 1;
}

.c_summary {
  flex-grow: 1;
}

.data {
  overflow-y: hidden;
}

.footer {
  background: #777;
  color: #fff;
  display: inline-block;
  font-size: .8rem;
  padding: 4px;
  position: absolute;
  right: 0;
  top: calc(100vh - 1.5rem);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  display: flex;
  // &:last-of-type {
  //   overflow-y: hidden;
  // }
}

.scroll {
  overflow-y: scroll;
}

.sidebar {
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  border-left: 1px solid #ccc;
  margin-left: 1rem;
  padding-left: .5rem;
  overflow-y: hidden;
}

button {
  background: #eee;
  border: 1px solid $color-border;
  cursor: pointer;
  padding: 8px 4px;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: lighten(#eee, 4%);
  }
}

pre {
  font-size: 10px;
}