$color-border: #ccc;
$color-light: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.c_app {
  margin: 0 auto;
  width: 800px;
}

.c_control {
  display: flex;
  > * {
    margin: 2px;
    padding: 8px 4px;
  }
  button {
    flex-grow: 1;
  }
  input {
    text-align: right;
    width: 40px;
  }
}

.c_controls {
  flex-basis: 200px;
}

.c_editor {
  border: 1px solid $color-border;
  flex-grow: 1;
  padding: 4px;
}

.c_value {
  flex-grow: 1;
}

.row {
  display: flex;
}

button {
  background: #eee;
  border: 1px solid $color-border;
  cursor: pointer;
  padding: 8px 4px;
  &:hover {
    background-color: lighten(#eee, 4%);
  }
}

pre {
  font-size: 10px;
}