$color-border: #ccc;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  display: flex;
  margin: 8px 8px 0 8px;
  :first-child {
    flex-grow: 1;
  }
  :nth-child(n+2) {
    align-self: center;
    border-bottom: 2px solid transparent;
    font-size: .5em;
    margin: 0 8px 0 0;
    padding: 2px 0;
    text-decoration: none;
  }
  span:last-of-type {
    border-bottom-color: #333;
  }
  > :last-child {
    border-left: 2px solid $color-border;
    font-weight: normal;
    padding-left: 10px;
  }
  img {
    width: 24px;
  }
}

.c_app,
.c_tools {
  overflow-y: hidden;
}

.c_app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.c_editor {
  border: 1px solid $color-border;
  margin: 8px;
  padding: 4px;
}

.c_methods {
  display: flex;
  flex-direction: column;
}

.c_method {
  display: flex;
  flex-direction: row;
  margin: 10px;
  button {
    height: 40px;
    margin: 1rem .2rem;
    width: 100px;
  }
}

.c_method__arg {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  padding-left: 1rem;

  &-label {
    width: 200px;
  }

  &:nth-last-child(n+3) {
    .c_method__arg-label:after {
      content: ','
    }
  }
}

.c_method-filter {
  padding: 4px;
  width: 100%;
}

.c_method__arg-input {
  width: 200px;
  &:read-only {
    background: #eee;
  }
}

.c_command-result {
  flex-grow: 1;
  padding: 0 10px;
}

.c_json-edit {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  padding: 0 10px;
  button {
    padding: 10px;
  }
  textarea {
    border: 1px solid $color-border;
    flex-grow: 1;
    padding: 10px;
    &:read-only {
      background: #eee;
    }
  }
}

.c_tools {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.scroll {
  overflow-y: scroll;
}